<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div id="myDIV" class="header">
	  <h2>To Do List</h2>
	  <input type="text" id="myInput" placeholder="Title...">
	  <span onclick="newElement()" class="addBtn">Add</span>
	</div>

	<ul id="myUL">
	  <li th:each="item : ${itens}" th:text="${item.description}" th:id="${item.id}"></li>
	</ul>
</body>
</html>